<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <!--  通过getter/setter 的方式注入  -->
    <bean id="user" class="com.kevin.spring.Iocdemo.entity.User" />

    <bean id="userDAO" class="com.kevin.spring.Iocdemo.dao.UserDAOImpl" />

    <bean id="userService" class="com.kevin.spring.Iocdemo.service.UserServiceImpl">
        <property name="userDAO" bean="userDAO" />
    </bean>

    <!-- 通过构造方法的形式注入 -->
    <bean id = "student" class="com.kevin.spring.Iocdemo.entity.Student" />
    <bean id ="studentDAO" class="com.kevin.spring.Iocdemo.dao.StudentDAOImpl" />
    <bean id = "studentService" class="com.kevin.spring.Iocdemo.service.StudentServiceImpl">
        <constructor-arg name="studentDAO" ref="studentDAO" />
    </bean>

</beans>